<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Blog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" type="text/css" href="/static/blog/css/bootstrap/bootstrap.min.css" /> -->
  <!--<script src="/static/blog/main.js"></script>-->
</head>

<body>

  <!-- <nav class='navbar bg-light border rounded'>
    <div class='container-fluid'>
      <div class='navbar-header'>
        <a class='navbar-brand' href="/yelp">YelpCamp</a>
      </div>
      <div class='expand navbar-expand'>
        <ul class='nav'>
          <li class='nav-item'>
            <a class="text-info nav-link" href="#">Login</a>
          </li>
          <li class='nav-item'>
            <a class="text-info nav-link" href="#">Sign Up</a>
          </li>
          <li class='nav-item'>
            <a class="text-info nav-link" href="#">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->